body {
    background-color:black;
    background-attachment: fixed;
    background-size:cover;
    margin: 0px;
    color:white;
}
p {
    font-family: monospace;
    font-size: 14px;
    color:white;
    text-align:center;
}
p.walkthrough{
    margin-left:30px;
    text-align:left;
}

div.top {
    background-image: url("images/eyes.jpg");
    font-family: monospace;
    color: #F6F6F6;
    text-align: center;
    overflow: auto;
    margin-top: -10px;
    margin-bottom: -10px
}

div.header nav.snack-nav {
    background: #729bc9;
    border-bottom: 1px solid #1163bf;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-size: .9em;
    font-weight: 400;
}

div.header nav.snack-nav a{
    font-size: .9em;
    color: #3F3D32;
    padding: 10px;
    text-decoration: none;
}

div.container {
    padding: 40px 0;
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

img.comfy {
    display: inline;
    height: 40px;
    width: 40px;
}

img.intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 350px;
}

a.button {
    display: inline-block;
    margin-bottom: 1rem;
    color: #F6F6F6;
    background-color: #262626;
    border-color: #F6F6F6;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 10px;
}
h3::before{
    content:"$";
    color:green;
}
p.walkthrough::before{
    content:">";
    color:green;
}


/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
